<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style type="text/css">
      .btn{
        margin-top: 5px;
      }.form-control{
        width:35%;
      }.container-fluid{

      }
    </style>
  </head>
  <body>
    <div class="container-fluid   ">
      <div class="">
        <form class="" action="/produtos/salva" method="post">
          <div class="form-group">
            <label for="titulo">Título do Livro</label>
            <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Título do Livro Aqui">
          </div>
          <div class="">
            <label for="preco">Valor/Preço do Livro</label>
            <input type="text" id="preco" name="preco" class="form-control" placeholder="Preço">
          </div>
          <div class="">
            <label for="descricao">Descrição do Livro</label>
            <textarea cols="20" rows="5" id="descricao" name="descricao" class="form-control" placeholder="Descrição do Livro Aqui"></textarea>
          </div>
          <input type="submit" id="_btn" class="btn" value="Gravar">
        </form>
      </div>
    </div>
  </body>
</html>
